{{ script('/ajax/chart/EVENT_MTD_CHART') }}
<div class="white-box">
    <h3 class="box-title m-b-0">Monthly Average Duration Event</h3>
    <small>Rata rata durasi event perjam dalam sebulan</small>
    <div>
        <canvas id="chart5" height="150"></canvas>
    </div>
</div>