{{ script('/ajax/chart/OB_CURR_CHART') }}
<div class="white-box">
    <h3 class="box-title">
        Equipment Unit OB Ritase
    </h3>
    <div class="stats-row">
        <div class="stat-item">
            <h6>Current Ritase</h6> 
            <b id="current-ritase"></b>
        </div>
    </div>
    <div id="sparkline10" class="grafik-chartis">
    </div>
</div>