<label for="">Pilih Production Type</label>
<select class="form-control select2pit" name="production_type">
    <option value="">Pilih</option>
    <option value="OB">Over Burden</option>
    <option value="COAL">Coal</option>
</select>